* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

main {
  margin: 0 auto;
  text-align: center;
}

main > * {
  margin-bottom: 10px;
}

.game > *:first-child {
  margin-bottom: 10px;

}
.gameBoard {
  margin: 0 auto;
  display: grid;
  grid: repeat(3,1fr) / repeat(3,1fr);
  width: 300px;
  aspect-ratio: 1/1;
  gap: 10px;
  background-color: black;
  margin-bottom: 25px;
}

.cell {
  display: grid;
  place-items: center;
  font-size: 50px;
  background-color: white;
}

.cell.selectable:hover {
  cursor: pointer;
}
