* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.gameBoard {
  display: grid;
  grid: repeat(3,1fr) / repeat(3,1fr);
  width: 300px;
  aspect-ratio: 1/1;
  gap: 10px;
  background-color: black;
  margin-bottom: 25px;
}

.cell {
  display: grid;
  place-items: center;
  font-size: 50px;
  background-color: white;
}

.cell.selectable:hover {
  cursor: pointer;
}
